body{
    width: 100%;
    height:300px;
    display:flex;
    justify-content:center;
   }
   .todolist{
     display:flex;
     flex-direction:column;
     align-items:center;
   }
   .name{
     font-size:30px;
     font-weight:600;
   }
   .taskInput{    
       width:200px;
       height:15px;
       padding:5px;
       border:1px solid black;
       border-radius:3px;        
   }
   .addButton{
   color:white;
       background-color:blue;
       height:25px;
       border-radius:2px;    
   }
   ul{
     display:flex;
     flex-direction:column;
     gap:3px;
   }
   li{
      background-color:blue;
      color: white;
      list-style:bullet;
      margin-right:90px;
      width:200px;
      border-radius:3px;
      padding:5px;
      gap:10px;
   }

   .usertask
   {   
    outline: none;
    border-top:none;
    border-right: none;
    border-left: none;
    border-bottom: 2px thick solid;
    display:flex;
    flex-direction: column;    
   }


   input.usertask:focus {
     outline: none;
  }
   